$color-primary:  #00E8FC; // #00E8FC #F96E46 #F5D547
$color-primary-dark:  darken($color-primary, 10%);
$color-primary-dark-2:  darken($color-primary, 20%);
$color-primary-light:  lighten($color-primary, 10%);
$color-primary-light-2:  lighten($color-primary, 20%);

$color-secondary: #2274A5;
$color-secondary-dark:  darken($color-secondary, 10%);
$color-secondary-dark-2:  darken($color-secondary, 20%);
$color-secondary-light:  lighten($color-secondary, 10%);
$color-secondary-light-2:  lighten($color-secondary, 20%);

$color-tertiary: #1B1725;
$color-tertiary-dark:  darken($color-tertiary, 10%);
$color-tertiary-dark-2:  darken($color-tertiary, 20%);
$color-tertiary-light:  lighten($color-tertiary, 10%);
$color-tertiary-light-2:  lighten($color-tertiary, 20%);

$color-success: #27C453;
$color-info: #0076E5;
$color-warning: #FCC602;
$color-error: #E22C26;

$color-white: #fff;
$color-white-2: #f4f4f4;

$color-grey: #eee;
$color-grey-2: #777;
$color-grey-3: #333;
$color-grey-4: #171C21;

$font-primary: 'Manrope', sans-serif;
$font-heading: 'Sarala', sans-serif;
