.nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 7rem;
    width: 100vw;
    padding: 0 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--section {
        display: flex;
        justify-content: center;
    }

    &--item {
        padding: 0.75rem 2rem;
        font-size: 2.4rem;
        position: relative;
        font-family: $font-heading;
        font-weight: 300;
        border-bottom: 3px solid $color-primary;        

        &:not(:last-child) {
            margin-right: 1rem;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            max-height: 100%;
            height: 0rem;
            display: block;
            background-color: $color-primary;
            transition: height .3s ease-out;
        }

        &:hover &--link {
            color: $color-white;
        }
        &:hover::after {
            height: 7rem;
        }

        &-header {
            border-top: none;
            font-weight: 800;
            text-transform: uppercase;
            letter-spacing: 2px;
            border-right: 3px solid $color-primary;
            user-select: none;
            cursor: pointer;
            border-bottom: none;

            &:hover::after {
               height: 0;
            }

            &-2 {
                border: none;
                letter-spacing: inherit;
                font-weight: 100;
                text-transform: none;
            }
        }


        &--link, &--link:link, &--link:visited {
            color: $color-primary;
            text-decoration: none;
            transition: color .3s;
            user-select: none;
        }
    }
}