.u-margin-bottom-sm {
  margin-bottom: 2rem;
}

.u-margin-bottom-me {
  margin-bottom: 5rem;
}

.u-margin-bottom-lg {
  margin-bottom: 10rem;
}

.u-margin-none {
  margin: 0 !important;
}

.flex--filler {
  flex-grow: 1;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex--align-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-basis: 0;
}

.flex--align-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-basis: 0;
}

.flex--align-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-basis: 0;
}

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 51;
  filter: blur(4px);
}

.component-loading {
  position: relative;
}
.component-loading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(3px);
  background-image: linear-gradient(to right bottom, #00E8FC, #2274A5);
}
.component-loading::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  border: 2px solid transparent;
  border-right: 2px solid #fff;
  border-radius: 50%;
  animation: loadingComponent 0.3s linear infinite;
  z-index: 10;
}

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- small-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Manrope", sans-serif;
  line-height: 1.6;
  font-weight: 300;
  background-color: #001220;
  color: #fff;
}

.container {
  display: grid;
  grid-template-rows: [full-start content-start] repeat(4, minmax(calc(0.25 * (100vh - 5rem)), min-content)) [content-end footer-start] 5rem [footer-end];
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  overflow-x: hidden;
}
@media only screen and (max-width: 112.5em) {
  .container {
    grid-template-rows: 7rem repeat(4 calc((100% - 7rem) / 4));
  }
}
@media only screen and (max-width: 37.5em) {
  .container {
    grid-template-rows: 7rem repeat(4, min-content);
  }
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 7rem;
  width: 100vw;
  padding: 0 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}
.nav--section {
  display: flex;
  justify-content: center;
}
.nav--item {
  padding: 0.75rem 2rem;
  font-size: 2.4rem;
  position: relative;
  font-family: "Sarala", sans-serif;
  font-weight: 300;
}
.nav--item:not(:last-child) {
  margin-right: 1rem;
}
.nav--item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  max-height: 100%;
  height: 0rem;
  display: block;
  background-color: #00E8FC;
  transition: height 0.3s ease-out;
}
.nav--item:hover .nav--item--link {
  color: #fff;
}
.nav--item:hover::after {
  height: 7rem;
}
.nav--item-header {
  border-top: none;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-right: 3px solid #00E8FC;
  user-select: none;
  cursor: pointer;
}
.nav--item-header:hover::after {
  height: 0;
}
.nav--item-header-2 {
  border: none;
  letter-spacing: inherit;
  font-weight: 100;
  text-transform: none;
}
.nav--item--link, .nav--item--link:link, .nav--item--link:visited {
  color: #00E8FC;
  text-decoration: none;
  transition: color 0.3s;
  user-select: none;
}

.footer {
  grid-row: footer-start/footer-end;
  grid-column: full-start/full-end;
  background-color: #000407;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
}
.footer--section {
  display: flex;
}
.footer--section--item {
  font-family: "Sarala", sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 1.6rem;
  user-select: none;
}
.footer--section--item--detail {
  color: #00E8FC;
  font-weight: 600;
}

.home--header {
  grid-row: content-start/4;
  grid-column: center-start/center-end;
  position: relative;
  padding-top: 20rem;
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.home--header--introduction {
  font-family: "Manrope", sans-serif;
  font-weight: 100;
  font-size: 9.2rem;
  border-bottom: 5px solid #00E8FC;
}
.home--header--role {
  font-size: 2.4rem;
  font-weight: 100;
  font-family: "Manrope", sans-serif;
  padding: 1.5rem 1rem;
}
.home--header--description {
  font-size: 2.1rem;
  padding-left: 1rem;
  font-size: 500;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.home--header--description--link, .home--header--description--link:link, .home--header--description--link:visited {
  margin: 0 1rem;
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  padding: 0.4rem 1.3rem;
  border: 3px solid #00E8FC;
  border-radius: 8px;
  transition: all 0.3s ease-out;
}
.home--header--description--link:hover, .home--header--description--link:link:hover, .home--header--description--link:visited:hover {
  background-color: #00E8FC;
}
.home--links {
  grid-row: 4/5;
  grid-column: center-start/center-end;
  display: flex;
  align-items: flex-start;
  padding-left: 5rem;
}
.home--links--item {
  color: #eee;
  background-color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  transition: all 0.3s ease-out;
}
.home--links--item:hover {
  background-color: #eee;
  transform: translateY(-0.5rem);
}
.home--links--item:link, .home--links--item:visited {
  color: #001220;
  font-family: "Manrope", sans-serif;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 800;
}
.home--links--item--icon {
  width: 2rem;
  margin-right: 1rem;
}

.about {
  grid-row: 1/5;
  grid-column: center-start/center-end;
  background-color: #fff;
  margin: 0 25rem;
  margin-top: 15rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;
}
.about--header {
  color: #002f53;
  font-family: "Sarala", sans-serif;
  font-size: 2.8rem;
  border-bottom: 5px solid #00E8FC;
}
.about--main {
  display: flex;
  flex-direction: column;
}
.about--main--description {
  color: #001220;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 2rem 5rem;
}
.about--main--skills {
  position: relative;
  color: #001220;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
}
.about--main--skills--skill {
  position: relative;
  flex-grow: 1;
  padding-top: 4rem;
}
.about--main--skills--header {
  color: #001220;
  font-family: "Sarala", sans-serif;
  font-size: 2rem;
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 0;
}
.about--main--skills--list {
  display: flex;
  flex-direction: column;
}
.about--main--skills--list--item {
  font-size: 2.1rem;
  font-weight: 400;
  font-family: "Sarala", sans-serif;
}
.about--main--skills--list--item:not(:last-child) {
  margin-bottom: 1rem;
}
.about--main--skills--list--item--icon {
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 3px solid #001220;
  width: 4rem;
}
.about--main--skills--list--item--icon-filler {
  width: 4rem;
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 3px solid #001220;
  display: inline-block;
  height: 100%;
}
.about--main--skills--list--item--icon-js {
  color: #f7df1e;
}
.about--main--skills--list--item--icon-sass {
  color: #d0649b;
}
.about--main--skills--list--item--icon-java {
  color: #e32f2f;
}
.about--main--skills--list--item--icon-html {
  color: #dc4d25;
}
.about--main--skills--list--item--icon-c {
  color: #659ad3;
}
.about--main--skills--list--item--icon-python {
  color: #eab52f;
}
.about--main--skills--list--item--icon-react {
  color: #5ed3f3;
}
.about--main--skills--list--item--icon-node {
  color: #83cd29;
}

/*# sourceMappingURL=main.css.map */
