.about {
    grid-row: 1 / 5;
    grid-column: center-start / center-end;
    background-color: $color-white;
    margin: 0 25rem;
    margin-top: 15rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
    
    &--header {
        color: $color-tertiary;
        font-family: $font-heading;
        font-size: 2.8rem;
        border-bottom: 1px solid $color-grey;
    }

    &--main {
        display: flex;
        flex-direction: column;

        &--description {
            color: #000;
            font-size: 1.6rem;
            font-weight: 400;
            padding: 2rem 5rem;
        }

        &--skills {
            position: relative;
            color: $color-tertiary;
            padding: 1rem 3rem 0 3rem;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid $color-grey;

            &--skill {
                position: relative;
                flex-grow: 1;
                padding-top: 4rem;
            }

            &--header {
                color: $color-tertiary;
                font-family: $font-heading;
                font-size: 2rem;
                opacity: 0.7;
                position: absolute;
                left: 0;
                top: 0;
            }

            &--list {
                display: flex;
                flex-direction: column;
                padding-top: 1rem;

                &--item {
                    font-size: 1.8rem;
                    font-weight: 400;
                    font-family: $font-heading;

                    &:not(:last-child) {
                        margin-bottom: 0.5rem;
                    }

                    &--icon {
                        margin-right: 1rem;
                        padding-right: 1rem;
                        border-right: 2px solid $color-grey;
                        width: 4rem;

                        &-filler {
                            width: 4rem;
                            margin-right: 1rem;
                            padding-right: 1rem;
                            border-right: 3px solid $color-tertiary;
                            display: inline-block;
                            height: 100%;
                        }
                        &-js {
                            color: #f7df1e;
                        }
                        &-sass {
                            color: #d0649b;
                        }
                        &-java {
                            color: #e32f2f;
                        }
                        &-html {
                            color: #dc4d25;
                        }
                        &-c {
                            color: #659ad3;
                        }
                        &-python {
                            color: #eab52f;
                        }
                        &-react {
                            color: #5ed3f3;
                        }
                        &-node {
                            color: #83cd29;
                        }
                        &-git {
                            color: #f05133;
                        }
                    }
                }
            }
        }
    }
}